.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #978ea3;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    padding: 5px;
    margin-right: 10px;
  }
  
  
  
  .select-account {
    background-color: #6200ee;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .overview {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .metric {
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
  }